In [14]:
from sqlalchemy import *
def connect_sql(database,echo):
    engine = create_engine("mysql+pymysql://gary:jack0705@localhost:3306/{}".format(database),echo=echo)
    return engine
engine = connect_sql('twse',False)

In [12]:
import requests
from io import StringIO
import pandas as pd
import time
import numpy as np
import datetime

def crawl_price(str_date):
    
    # 下載股價
    r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + str_date + '&type=ALL')
    
    if r.text=='':
        return None
    
    # 整理資料，變成表格
    df = pd.read_csv(StringIO(r.text.replace("=", "")), 
                header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)
    df.drop(['Unnamed: 16','最後揭示買價', '最後揭示買量', '最後揭示賣價', '最後揭示賣量'], axis=1, inplace=True)
    for i in ['成交股數', '成交筆數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '本益比']:
    #     print(i, end='  ')
        df[i] = df[i].apply(lambda x: pd.to_numeric(x.replace(",", ""), errors='coerce') if type(x)!=float else x)
    df.rename(columns={'證券代號':'ID'            
                        ,'證券名稱':'NAME'
                        ,'成交股數':'Trade_Volume'
                        ,'成交筆數':'Transaction'
                        ,'成交金額':'Trade_Value'
                        ,'開盤價':'Open'      
                        ,'最高價':'High'    
                        ,'最低價':'Low'
                        ,'收盤價':'Close'
                        ,'漲跌(+/-)':'U_D'
                        ,'漲跌價差':'FLUC'
                        ,'本益比':'PE_Ratio'}, 
             inplace=True)
    df['Data_Date'] = datetime.datetime(int(str_date[:4]),int(str_date[4:6]),int(str_date[6:]),0,0,0)
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    time.sleep(3)
    
    return df

In [ ]:
text = '''
create table PRICE_D ( 
     DATA_DATE DATE
    ,ID VARCHAR(7) NOT NULL
    ,NAME VARCHAR(16) NOT NULL
    ,Trade_Volume BIGINT(16)
    ,Transaction MEDIUMINT(7)
    ,Trade_Value BIGINT(16)
    ,Open DECIMAL(9,2)
    ,High DECIMAL(9,2)
    ,Low DECIMAL(9,2)
    ,Close DECIMAL(9,2)
    ,U_D CHAR(2)
    ,FLUC DECIMAL(9,2)
    ,PE_Ratio DECIMAL(9,2)
    ,PRIMARY KEY(DATA_DATE, ID, NAME)
);'''

engine.execute(text)

In [19]:
from sqlalchemy.exc import IntegrityError
from calendar import monthrange
y = input('Year - ')
m_list = ('0'+str(m) if m<10 else str(m) for m in range(1, 13))
for m in m_list:
    f_date = datetime.datetime(int(y),int(m),1,0,0,0)
    str_f_date = y+m+'01'
    l_date = datetime.datetime(int(y),int(m),monthrange(int(y),int(m))[1],0,0,0)
    str_l_date = l_date.strftime('%Y%m%d')
    cur_date = f_date
    str_cur_date = cur_date.strftime('%Y%m%d')

    print(y+m, end='  ')

    while cur_date < l_date:
        df = crawl_price(str_cur_date)
        if df is not None:
            try:
                df.to_sql(name='PRICE_D', con=engine, if_exists='append', index=False)
            except IntegrityError:
                print('catch duplicate data') 
#         else:
#             print(str_cur_date + ' is not a trading date')
        cur_date += datetime.timedelta(days=1)
        str_cur_date = cur_date.strftime('%Y%m%d')
#         print('change date to ' + str_cur_date)
    
#     print('\n')

Year - 2010
201001  201002  201003  201004  201005  201006  201007  201008  201009  201010  201011  201012

In [20]:
text = '''select * from price_d where Id = "0050" limit 5'''
pd.read_sql(text, con=engine)

,DATA_DATE,ID,NAME,Trade_Volume,Transaction,Trade_Value,Open,High,Low,Close,U_D,FLUC,PE_Ratio
0,2010-01-04,0050,元大台灣50,20083125,1624,1132155005,56.45,56.65,56.05,56.50,+,0.05,0.0
1,2010-01-05,0050,元大台灣50,16453854,1866,932015376,56.80,56.90,56.15,56.50,,0.00,0.0
2,2010-01-06,0050,元大台灣50,19012172,2958,1087143829,56.50,57.75,56.50,57.55,+,1.05,0.0
3,2010-01-07,0050,元大台灣50,14110575,1846,814344344,57.60,58.15,57.30,57.40,-,0.15,0.0
4,2010-01-08,0050,元大台灣50,11342752,1493,651830965,57.30,57.75,57.05,57.75,+,0.35,0.0

In [16]:
for i in gen_obj:
    print(i)