In [12]:
import pandas as pd
import requests
import numpy as np
from io import StringIO
import time
import datetime
import matplotlib.pyplot as plt
import html5lib

In [2]:
from sqlalchemy import *
def connect_sql(database):
    engine = create_engine("mysql+pymysql://gary:jack0705@localhost:3306/{}".format(database),echo=True)
    return engine
engine = connect_sql('twse')

In [3]:
# if t == '綜合損益彙總表':
#         url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb04'
#     elif t == '資產負債彙總表':
#         url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb05'
#     elif t == '營益分析彙總表':
#         url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb06'
#     else:
#         print('type does not match')

In [28]:
def raw_ctnt(year, season):
    url = 'https://mops.twse.com.tw/mops/web/t163sb04'
    r = requests.post(url, {
            'encodeURIComponent':1,
            'step':1,
            'firstin':1,
            'off':1,
            'TYPEK':'sii',
            'year':year,
            'season':season,
        })
    r.encoding = 'utf8'
    return r.text

In [127]:
dfs = pd.read_html(raw_ctnt(103, 1))

KeyboardInterrupt:

In [109]:
dfs = [i for i in dfs if i.shape[1] > 20]

In [114]:
[i.columns for i in dfs]

[Index(['Id', 'Name', '利息淨收益', '利息以外淨損益', '呆帳費用及保證責任準備提存（各項提存）', '營業費用',
        'Operating_Income', '所得稅（費用）利益', '繼續營業單位本期稅後淨利（淨損）', '停業單位損益',
        '合併前非屬共同控制股權損益', 'Net_Income', '其他綜合損益（稅後）', '合併前非屬共同控制股權綜合損益淨額',
        '本期綜合損益總額（稅後）', '淨利（損）歸屬於母公司業主', '淨利（損）歸屬於共同控制下前手權益', '淨利（損）歸屬於非控制權益',
        '綜合損益總額歸屬於母公司業主', '綜合損益總額歸屬於共同控制下前手權益', '綜合損益總額歸屬於非控制權益', 'EPS',
        'Gross_Profit', 'Pre_Tax_Income'],
       dtype='object'),
 Index(['Id', 'Name', 'Gross_Profit', '支出及費用', 'Operating_Income', '營業外損益',
        'Pre_Tax_Income', '所得稅利益（費用）', '繼續營業單位本期淨利（淨損）', '停業單位損益',
        '合併前非屬共同控制股權損益', 'Net_Income', '本期其他綜合損益（稅後淨額）', '合併前非屬共同控制股權綜合損益淨額',
        '本期綜合損益總額', '淨利（損）歸屬於母公司業主', '淨利（淨損）歸屬於共同控制下前手權益', '淨利（損）歸屬於非控制權益',
        '綜合損益總額歸屬於母公司業主', '綜合損益總額歸屬於共同控制下前手權益', '綜合損益總額歸屬於非控制權益', 'EPS'],
       dtype='object'),
 Index(['Id', 'Name', 'Gross_Profit', '營業成本', '營業毛利（毛損）', '未實現銷貨（損）益',
        '已實現銷貨（損）益', '營業毛利（毛損）淨額', '營業費用', '其他收益及費損淨額', 'Operating_Income',
        '營業外收入及支出', 'Pre_Tax_Income', '所得稅費用（利益）', '繼續營業單位本期淨利（淨損）', '停業單位損益',
        '合併前非屬共同控制股權損益', 'Net_Income', '其他綜合損益（淨額）', '合併前非屬共同控制股權綜合損益淨額',
        '本期綜合損益總額', '淨利（淨損）歸屬於母公司業主', '淨利（淨損）歸屬於共同控制下前手權益', '淨利（淨損）歸屬於非控制權益',
        '綜合損益總額歸屬於母公司業主', '綜合損益總額歸屬於共同控制下前手權益', '綜合損益總額歸屬於非控制權益', 'EPS'],
       dtype='object'),
 Index(['Id', 'Name', '利息淨收益', '利息以外淨收益', 'Gross_Profit', '呆帳費用及保證責任準備提存',
        '保險負債準備淨變動', '營業費用', 'Operating_Income', '所得稅（費用）利益', '繼續營業單位本期淨利（淨損）',
        '停業單位損益', 'Net_Income', '本期其他綜合損益（稅後淨額）', '本期綜合損益總額', '淨利（淨損）歸屬於母公司業主',
        '淨利（淨損）歸屬於共同控制下前手權益', '淨利（淨損）歸屬於非控制權益', '綜合損益總額歸屬於母公司業主',
        '綜合損益總額歸屬於共同控制下前手權益', '綜合損益總額歸屬於非控制權益', 'EPS', 'Pre_Tax_Income'],
       dtype='object'),
 Index(['Id', 'Name', 'Gross_Profit', '營業成本', '營業費用', 'Operating_Income',
        '營業外收入及支出', 'Pre_Tax_Income', '所得稅費用（利益）', '繼續營業單位本期純益（純損）', '停業單位損益',
        '合併前非屬共同控制股權損益', 'Net_Income', '其他綜合損益（稅後淨額）', '合併前非屬共同控制股權綜合損益淨額',
        '本期綜合損益總額', '淨利（淨損）歸屬於母公司業主', '淨利（淨損）歸屬於共同控制下前手權益', '淨利（淨損）歸屬於非控制權益',
        '綜合損益總額歸屬於母公司業主', '綜合損益總額歸屬於共同控制下前手權益', '綜合損益總額歸屬於非控制權益', 'EPS'],
       dtype='object')]

In [124]:
def unify(x):
    dfs = x.copy()
    dfs[0]['Gross_Profit'] = dfs[0]['利息淨收益'] + dfs[0]['利息以外淨損益']
    dfs[0].rename(columns={'繼續營業單位稅前淨利（淨損）':'Operating_Income',
                              '本期稅後淨利（淨損）':'Net_Income'}, inplace=True)
    dfs[0]['Pre_Tax_Income'] = dfs[0]['Operating_Income']

    dfs[1].rename(columns={'收益':'Gross_Profit',
                              '營業利益':'Operating_Income',
                              '稅前淨利（淨損）':'Pre_Tax_Income',
                              '本期淨利（淨損）':'Net_Income'}, inplace=True)

    dfs[2].rename(columns={'營業收入':'Gross_Profit',
                              '營業利益（損失）':'Operating_Income',
                              '稅前淨利（淨損）':'Pre_Tax_Income',
                              '本期淨利（淨損）':'Net_Income'}, inplace=True)

    dfs[3].rename(columns={'淨收益':'Gross_Profit',
                              '繼續營業單位稅前損益':'Operating_Income',
                              '本期稅後淨利（淨損）':'Net_Income'}, inplace=True)
    dfs[3]['Pre_Tax_Income'] = dfs[3]['Operating_Income']

    dfs[4].rename(columns={'營業收入':'Gross_Profit',
                              '營業利益（損失）':'Operating_Income',
                              '繼續營業單位稅前純益（純損）':'Pre_Tax_Income',
                              '本期淨利（淨損）':'Net_Income'}, inplace=True)
    for i in dfs:
        i.rename(columns={'公司代號':'Id','公司名稱':'Name','基本每股盈餘（元）':'EPS'}, inplace=True)
        
    dfs = [i[['Id', 'Name', 'Gross_Profit', 'Operating_Income', 'Pre_Tax_Income', 'Net_Income', 'EPS']] for i in dfs]
    
    return dfs

In [125]:
t = unify(x = dfs)

In [126]:
t[0]

,Id,Name,Gross_Profit,Gross_Profit,Operating_Income,Pre_Tax_Income,Net_Income,EPS
0,2801,彰銀,6220401,6220401,3650902,3650902,3100347,0.40
1,2809,京城銀,1758428,1758428,1450177,1450177,1264937,1.05
2,2812,台中銀,2845289,2845289,1131757,1131757,1036839,0.40
3,2820,華票,519550,519550,450362,450362,386635,0.29
4,2834,臺企銀,4482279,4482279,1218856,1218856,1212460,0.24
5,2836,高雄銀,770874,770874,155990,155990,134782,0.19
6,2838,聯邦銀,2588111,2588111,880648,880648,727963,0.32
7,2845,遠東銀,2749993,2749993,1154644,1154644,1004915,0.38
8,2849,安泰銀,1695728,1695728,757602,757602,666405,0.40

In [118]:
x = dfs[0]

In [83]:
x = x[['公司代號', '利息淨收益', '公司名稱', '利息以外淨損益', '繼續營業單位稅前淨利（淨損）', '本期稅後淨利（淨損）','基本每股盈餘（元）']]

KeyError: "['公司代號', '基本每股盈餘（元）', '繼續營業單位稅前淨利（淨損）', '本期稅後淨利（淨損）', '公司名稱'] not in index"

In [81]:
def income_statement(year, season):

    if year >= 1000:
        year -= 1911
    url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb04'
    
    # 用 post 回傳值給 ajax
    r = requests.post(url, {
        'encodeURIComponent':1,
        'step':1,
        'firstin':1,
        'off':1,
        'TYPEK':'sii',
        'year':str(year),
        'season':str(season),
    })
    r.encoding = 'utf8'
    
    # 轉換成 data frame
    dfs = pd.read_html(r.text)[1:-1]
    
    # 將不同欄位名統一
    dfs[0]['淨收益'] = dfs[0]['利息淨收益'] + dfs[0]['利息以外淨損益']
    dfs[0].rename(columns={'淨收益':'Gross_Profit',
                              '繼續營業單位稅前淨利（淨損）':'Operating_Income',
                              '本期稅後淨利（淨損）':'Net_Income'}, 
                     inplace=True)
    dfs[0]['Pre_Tax_Income'] = dfs[0]['Operating_Income']

    dfs[1].rename(columns={'收益':'Gross_Profit',
                              '營業利益':'Operating_Income',
                              '稅前淨利（淨損）':'Pre_Tax_Income',
                              '本期淨利（淨損）':'Net_Income'}, 
                     inplace=True)

    dfs[2].rename(columns={'營業收入':'Gross_Profit',
                              '營業利益（損失）':'Operating_Income',
                              '稅前淨利（淨損）':'Pre_Tax_Income',
                              '本期淨利（淨損）':'Net_Income'}, 
                     inplace=True)

    dfs[3].rename(columns={'淨收益':'Gross_Profit',
                              '繼續營業單位稅前損益':'Operating_Income',
                              '本期稅後淨利（淨損）':'Net_Income'}, 
                     inplace=True)
    dfs[3]['Pre_Tax_Income'] = dfs[3]['Operating_Income']

    dfs[4].rename(columns={'營業收入':'Gross_Profit',
                              '營業利益（損失）':'Operating_Income',
                              '繼續營業單位稅前純益（純損）':'Pre_Tax_Income',
                              '本期淨利（淨損）':'Net_Income'}, 
                     inplace=True)

    for i in dfs:
        i.rename(columns={'公司代號':'Id','公司名稱':'Name','基本每股盈餘（元）':'EPS'}, 
                         inplace=True)
    dfs = [i[['Id', 'Name', 'Gross_Profit', 'Operating_Income', 'Pre_Tax_Income', 'Net_Income', 'EPS']] for i in dfs]

    df = pd.concat(dfs)
    
    # 偽停頓
    time.sleep(1)
    
    return df

In [81]:
# df_test = dfs[0]
# df_test['淨收益'] = df_test['利息淨收益'] + df_test['利息以外淨損益']
# df_test.rename(columns={'公司代號':'Id','公司名稱':'Name','淨收益':'Gross_Profit',
#                           '繼續營業單位稅前淨利（淨損）':'Operating_Income',
#                           '本期稅後淨利（淨損）':'Net_Income',
#                           '基本每股盈餘（元）':'EPS'}, 
#                  inplace=True)
# df_test['Pre_Tax_Income'] = df_test['Operating_Income']
# df_test = df_test[['Id', 'Name', 'Gross_Profit', 'Operating_Income', 'Pre_Tax_Income', 'Net_Income', 'EPS']]

In [119]:
dfs[0]['淨收益'] = dfs[0]['利息淨收益'] + dfs[0]['利息以外淨損益']
dfs[0].rename(columns={'淨收益':'Gross_Profit',
                          '繼續營業單位稅前淨利（淨損）':'Operating_Income',
                          '本期稅後淨利（淨損）':'Net_Income'}, 
                 inplace=True)
dfs[0]['Pre_Tax_Income'] = dfs[0]['Operating_Income']

In [120]:
dfs[1].rename(columns={'收益':'Gross_Profit',
                          '營業利益':'Operating_Income',
                          '稅前淨利（淨損）':'Pre_Tax_Income',
                          '本期淨利（淨損）':'Net_Income'}, 
                 inplace=True)

In [121]:
dfs[2].rename(columns={'營業收入':'Gross_Profit',
                          '營業利益（損失）':'Operating_Income',
                          '稅前淨利（淨損）':'Pre_Tax_Income',
                          '本期淨利（淨損）':'Net_Income'}, 
                 inplace=True)

In [122]:
dfs[3].rename(columns={'淨收益':'Gross_Profit',
                          '繼續營業單位稅前損益':'Operating_Income',
                          '本期稅後淨利（淨損）':'Net_Income'}, 
                 inplace=True)
dfs[3]['Pre_Tax_Income'] = dfs[3]['Operating_Income']

In [123]:
dfs[4].rename(columns={'營業收入':'Gross_Profit',
                          '營業利益（損失）':'Operating_Income',
                          '繼續營業單位稅前純益（純損）':'Pre_Tax_Income',
                          '本期淨利（淨損）':'Net_Income'}, 
                 inplace=True)

In [126]:
for i in dfs:
    i.rename(columns={'公司代號':'Id','公司名稱':'Name','基本每股盈餘（元）':'EPS'}, 
                     inplace=True)
dfs = [i[['Id', 'Name', 'Gross_Profit', 'Operating_Income', 'Pre_Tax_Income', 'Net_Income', 'EPS']] for i in dfs]

In [128]:
df = pd.concat(dfs)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 824 entries, 0 to 6
Data columns (total 7 columns):
Id                  824 non-null int64
Name                824 non-null object
Gross_Profit        824 non-null int64
Operating_Income    824 non-null int64
Pre_Tax_Income      824 non-null int64
Net_Income          824 non-null int64
EPS                 824 non-null float64
dtypes: float64(1), int64(5), object(1)
memory usage: 51.5+ KB

In [137]:
df_104_1 = income_statement(104, 1)

In [138]:
df_104_1.head()

,Id,Name,Gross_Profit,Operating_Income,Pre_Tax_Income,Net_Income,EPS
0,2801,彰化銀行,6794143,3399360,3399360,2882057,0.36
1,2809,京城銀行,1795271,1325579,1325579,1146290,0.95
2,2812,台中銀行,2524503,1205959,1205959,1024368,0.36
3,2820,華票,522346,452607,452607,382020,0.28
4,2834,臺灣企銀,4824851,1535293,1535293,1342242,0.25

In [13]:
for i, df in enumerate(dfs):
    df.columns = df.iloc[0]
    dfs[i] = df.iloc[1:]

In [18]:
len(dfs)

7

In [25]:
dfs[6]

,1409,新纖,11674304,10882084,792220,96479,695741,--,695741,-164516,531225,596988,--,98753,431479,--,99746,0.35
1,1718,中纖,9008260,7875666,1132594,101133,1031461,--,1031461,58445,1089906,256120,--,775341,285749,--,804157,0.23
2,2514,龍邦國際,23008909,22442678,566231,81053,485178,--,485178,1006812,1491990,185226,--,299952,506588,--,985402,0.36
3,2905,三商,52451047,52881406,-430359,145985,-576344,--,-576344,1937503,1361159,-303279,--,-273065,737985,--,623174,-0.47